<footer class="white-section" id="footer">
  <div class="container-fluid">
    <a href="https://github.com/Shadman-aziz"> <i class="social-icon fab fa-github fa-2x"></i> </a>
    <a href="https://www.instagram.com/_shadmanaziz/?hl=en"> <i class="social-icon fab fa-instagram fa-2x"></i> </a>
    <a href="mailto:97sdmn@gmail.com?subject=feedback"><i class="social-icon fas fa-envelope fa-2x"></i></a>
    <p class= "name">Shadman Aziz </p>
  </div>
</footer>


</body>

</html>
